.clear:after {
  display: "block";
  clear: both;
  height: 0;
  content: ".";
  visibility: hidden;
  overflow: hidden; }

body {
  background: url(../img/bg.jpg); }

* {
  margin: 0;
  padding: 0; }

#header {
  height: 64px;
  background: #2b467d;
  color: #fff;
  line-height: 64px; }

#login {
  width: 604px;
  height: 380px;
  background: #f8f8f8;
  margin: 220px auto;
  border: 15px solid rgba(219, 229, 241, 0.3);
  position: relative; }
  #login > .logintop {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #3292df;
    border: 15px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    position: absolute;
    top: -65px;
    left: 220px; }
    #login > .logintop p {
      padding: 0;
      margin: 0;
      font-size: 20px;
      color: #fff;
      letter-spacing: 10px; }
  #login .loginform {
    padding: 20px 47px;
    margin-top: 65px; }
    #login .loginform .input-group {
      margin-bottom: 22px;
      height: 53px; }
      #login .loginform .input-group .form-control {
        height: 53px; }
